
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}
:root {
    --main-bg: #1C448E; 
}

body {
    margin: 0;
    padding: 0;
}
.landing-page{
    min-width: 100%;
    height: 100vh;
    background-image: url(../images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
nav {
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

ul {
    list-style-type: none;
    display: flex;
    /* gap: 20px;  */
}
ul a {
    text-decoration: none;
    display: inline-block;
    padding: 12px 20px; 
    font-size: 1.3rem;
    font-family: system-ui;
    color: black;
}
.btn__call {
    background-color: #1C448E;
    color: white;
   /*  border: 1px solid white; */
    border-radius: 30px;
    margin-right: 10px;
    
}
.landing-page__content {
    min-width: 100%;
    height: 88vh;
    display: flex;
    align-items: center;
     

}
.landing-page__content__txt {
    width: 50vw;
}
.landing-page__content__txt h1 {
    display: inline-block;
    font-size: 2rem;
    margin-bottom: 1rem;
    background-color: var(--main-bg);
    color: white;
    border-radius: 0px 30px 30px 0px ;
    padding: 10px 40px;
    font-family: system-ui;
    text-transform: uppercase;
}
.landing-page__content__txt p {
    font-size: 1.5rem;
    padding: 10px 40px;
    font-family: system-ui;
}
.txt--blue{
    color: var(--main-bg);
}

/* here starts services section  */

.services {
    max-width: 100vw;
    height: auto;
    padding: 2% 0; 
   /*  overflow: hidden; */
}
.services hr {
    width: 150px; 
    border: 2px solid black;
    border-radius: 10px;
    margin: 1.8rem auto 1.4rem;
    text-align: center;
}
.services h3 {
    font-size: 2rem;
    text-align: center;
    
}
.services__cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 4em 0;
}
.card img {
    height: 150px;
    width: 150px;
    border: 4px solid #424242;
    border-radius: 50%;
    padding: 10px;
}
.card{  
   text-align: center;
   font-size: 1.3rem;
}


/* here starts treatment section */
.treatment {
    width: 100%;
    height: auto; 
    background-color: var(--main-bg);
    color: white;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    padding: 30px 0;
}
.treatment p{
    font-size: 1.3em;
}
.treatment a {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    border: 2px solid white;
    padding: 10px 35px;
    border-radius: 30px;
} 
.treatment img {
    height: 80px;
    width: 80px;

}

/* here starts concept section */
.concept {
    width: 100%;
    height: 90vh;
    position: relative;
    overflow: hidden;
}
.concept__item {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    z-index: 0; 
    opacity: 0;
    position: absolute;
    transition: opacity 1s ease-in, visibility 0s 1s;
}
.concept__item.active {
    z-index: 1;
    opacity: 1;
    visibility: visible;
    transition: opacity 1s ease-in, visibility 0s 0s;
}
.concept__item img {
    width: 100%;
    height: 70vh;
}
.container {
    text-align: center;
    padding: 1.5em;
    height: 20vh;
}
.container h3 {
    font-size: 2rem; 
    margin-bottom: 15px;
}
.container p {
    font-size: 1.2em;
}
/* 
section service packeges starts here */
.service-packages {
    width: 100%;
    font-size: 1.3em;
   /*  background-color:  #d5d8c9; */
}
table {
    padding: 20px 40px;
}
table h3 {
    font-size: 2rem;
    text-align: center;
    padding: 1em;
}
 /* table tr {
    height: 15vh;

 } */
  tr,td {
    border: 2px solid black;
    padding: 0.8em;
  }
 table tr:nth-child(odd) {
    width: 30%;
   
 }
 .service-packages__download{
    display: flex;
    justify-content: center;
 }
 .service-packages__download button {
    border: none;
    border-radius: 30px;
    padding: 30px 40px;
    font-size: 1em;
    background-color: var(--main-bg);
    color: white;
    margin-bottom: 1em;
 }


 /* section locations starts here */
.locations {
    width: 100%;
    height: auto;
    display: flex;
}
.locations__list {
    width: 50%;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.locations__list ol{
    line-height: 1.5;
}

.locations__list a{
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    padding: 15px;
}


#map { 
    width: 50%;
    height: 40vh; 
}
